.overlay {
  position: fixed;
  inset: 0;
  background: rgba(230, 244, 241, 0.05);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.form{
    display: flex;
    flex-direction: column;
}

.modal {
  background: rgba(38, 48, 46, 1);
  padding: 25px 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 380px;
  color: white;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  margin-bottom: 12px;
  background: rgba(74, 85, 83, 1);
  border: none;
  height: 50px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
}

.btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  align-self: self-end;
}

.title {
  font-size: 36px;
  text-align: center;
}
