.root {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.label {
  font-family: "SN Pro";
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.input {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: rgba(255, 255, 255, 1);
  border: none;
  height: 50px;
  font-family: "SN Pro";
  font-size: 16px;
}
