.root {
  height: calc(100dvh - 60px);
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
}

.title{
    font-size: 36px;
    margin-bottom: 25px;
}

.description{
    font-size: 16px;
}