.root {
  height: calc(100dvh - 60px);
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 85%;
}

.img {
  width: 215px;
  height: 235px;
  align-self: center;
  margin-bottom: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.title {
  color: rgba(235, 99, 114, 1);
  font-size: 36px;
}

.description {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
