.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 180px;
}
