.root {
  display: flex;
  justify-content: center;
  height: calc(100dvh - 60px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 50px 0px 50px 0px;
  width: 90%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title{
    font-size: 36px;
}

.description{
    font-size: 16px;
}






