.root {
  height: calc(100dvh - 60px);
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.img {
  height: 205px;
  width: 340px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.title {
  font-size: 36px;
  color: rgba(0, 0, 0, 1);
}

.description {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}
