.root {
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  font-family: "SN PRO";
  font-size: 16px;
}

.blue {
  background-color: rgba(90, 143, 236, 1);
}

.green {
  background-color: rgba(0, 168, 132, 1);
}

.red {
  background-color: rgba(235, 99, 114, 1);
}

.gray {
  background-color: rgba(74, 85, 83, 1);
}
