.root {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0px 90px 0px;
}

.title {
  font-size: 36px;
}

.description {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
