.root {
  overflow: hidden;
  width: 100%;
  background-color: rgba(38, 48, 46, 1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

.img {
  width: 100%;
  object-fit: cover;
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  color: rgba(255, 255, 255, 1);
  margin: 0px;
}

.location {
  color: rgba(255, 255, 255, 1);
  margin: 0;
}
