.root {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
